#firebaseui-auth-container {
  display: flex;
  z-index: 100000;
  background: white;
  position: absolute;
  left: 0;
  top: 60px;
  bottom: 0;
  right: 0;
  align-items: center;
}

.number-of-requesters {
  font-size: 2rem;
}
